<p>
  <label for="email">Тип<span class="required"> *</span></label>
  <%= f.text_field :tariff_type %>
  <em></em>
</p>

<p>
  <label for="parent_id">Название<span class="required"> *</span></label>
  <%= f.text_field :title %><br />
  <em></em>
</p>

<p>
  <label for="full_name">Стоимость<span class="required"> *</span></label>
  <%= f.text_field :value %>
  <em></em>
</p>