<% content_for :contextual do %>
  <%= link_to "Новый пользователь", new_admin_user_path, :class => "icon icon-add" %>
<% end %>

<% content_for :flash_message do %>
  <%= render :partial => "common/flash_messages", :locals => {:object => @user}%>
<% end %>

<h2>Пользователи</h2>

<table class="list">
  <thead>
    <tr>
      <th>Почтовый адрес</th>
      <th>Ф.И.О</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= render :partial => "user", :collection => @users %>
  </tbody>
</table>
 <p class="pagination"></p>

